@import 'src/styles/screens';

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  transition: all 1s ease-in;
  gap: 16px;
}

.headerImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

@include large() {
  .header {
    gap: 24px;
  }
}
