@import 'src/styles/screens';
@import 'src/styles/variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all $animation-seconds ease-in;
  gap: 16px;
}

.headerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

@include large() {
  .header {
    gap: 24px;
  }
}
