@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-label-light: 52 58 64;
    --color-label-dark-secondary: 249 249 253;
    --color-label-dark-tertiary: 235 235 245;

    /* System colors */

    --color-system-red-light: ;
    --color-system-orange-light: ;
    --color-system-yellow-light: ;
    --color-system-green-light: ;
    --color-system-teal-light: ;
    --color-system-blue-light: ;
    --color-system-indigo-light: ;
    --color-system-purple-light: ;
    --color-system-pink-light: ;
  }
}
