.valuationPrinciple {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.valuationHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.valuationTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.definingComponents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
