@import 'src/styles/variables';
@import 'src/styles/screens';

.emailSettings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

@include medium() {
  .emailSettings {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }
}
