@import 'src/styles/screens';
@import 'src/styles/variables';

.pricingPage {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  gap: 40px;
  padding: 40px 0px 64px 0px;
}

@include medium() {
  .pricingPage {
    padding: 40px 32px 64px 32px;
  }
}

@include xlarge() {
  .pricingPage {
    padding: 40px 96px 64px 96px;
  }
}
