@import 'src/styles/variables';
@import 'src/styles/screens';

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}

@include medium() {
  .footerContent {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header {
  position: 'sticky';
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  > div {
    max-width: $max-width;
    align-self: center;
    width: 100%;
  }
}

.cookiePreference {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  > div {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
  }
}

.topPromotion {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  transition: all;
  transition-duration: 75ms;
  transition-timing-function: ease-in;
  > div {
    width: 100%;
  }
  > div:first-child {
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  }
  > div:last-child {
    background-image: url(/research/top_mobile_promotion.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
  }
}

@include medium() {
  .topPromotion {
    > div:last-child {
      height: 140px;
    }
  }
}

@include large() {
  .topPromotion {
    flex-direction: row;
    position: relative;
    > div:first-child {
      padding: 18px;
      align-items: start;
      > div {
        align-items: start;
      }
    }
    > div:last-child {
      height: auto;
      background-image: url(/research/top_banner.png);
    }
  }
}

@include xlarge() {
  .topPromotion {
    flex-direction: row;
    > div:first-child {
      padding: 24px;
    }
  }
}

.bottomPromotion {
  padding: 16px 32px;
}

@include large() {
  .bottomPromotion {
  }
}

.proPricing {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@include medium() {
  .proPricing {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
