@import 'src/styles/variables';
@import 'src/styles/screens';

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footerContent {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $max-width;
  transition: all $animation-seconds ease-in;
  gap: 24px;
}

@include medium() {
  .footerContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.header {
  position: 'sticky';
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  > div {
    max-width: $max-width;
    align-self: center;
    width: 100%;
  }
}

.cookiePreference {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  > div {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
  }
}
