.searchBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.refinementList {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
