@import 'screens';
@import 'variables';

:root {
  --max-width: 1440;
  --small-device: 596px;
  --medium-device: 768px;
  --large-device: 992px;
  --x-large-device: 1200px;
  --x-x-large-device: 1600px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: #000;
}

ul li {
  list-style-position: outside;
  margin-left: 1em;
}

ol li {
  list-style-position: outside;
  margin-left: 1em;
}

// article page

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.article-sidebar {
  margin-top: 44px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@include large() {
  .article-sidebar {
    margin-top: 0px;
  }
}

.article-layout {
  padding: 40px 0px;
  margin: 0px;
  transition: ease all $animation-seconds;
}

@include xlarge() {
  .article-layout {
    padding: 64px 0px;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 64px;
  gap: 40px;
}

.default-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 64px;
  gap: 64px;
}

.research-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 64px;
  gap: 64px;
}

.home-section-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  transition: all $animation-seconds ease-in;
  gap: 24px;
  width: 100%;
}

@include medium() {
  .home-section-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;
    width: 100%;
  }
}

.next-error-h1 {
  border-right: 1px solid rgba(0, 0, 0, 0.3) !important;
  color: #000 !important;
}
.next-error-h1 + div h2 {
  color: black !important;
}

// dashboard styles

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.dashboard-article-summary {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 40px;
}

// layout
.divide-equal {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  transition: all $animation-seconds ease-in;
  > div {
    width: 100%;
  }
}

@include xlarge() {
  .divide-equal {
    display: flex;
    flex-direction: row;
    width: 100%;
    > div {
      width: 100%;
    }
  }
}

.half {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  transition: all $animation-seconds ease-in;
  > div {
    width: 100%;
  }
}

@include xlarge() {
  .half {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    > div {
      flex: 1;
    }
  }
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 16px;
}

// ant overriding
.ant-ribbon-wrapper {
  position: relative;
  width: 100%;
}

.ant-anchor-link-title {
  white-space: pre-wrap !important;
  text-overflow: initial !important;
}

.ant-table-body {
  overflow-x: auto !important;
}

// overriding defaults

.override-list :global(li) {
  margin-left: 0px !important;
}

.tablesSimpleLayout {
  padding-top: 32px;
  padding-bottom: 32px;
}

@include xlarge() {
  .tablesSimpleLayout {
    padding-right: 96px;
    padding-left: 96px;
  }
}

.pricingTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

@include medium() {
  .pricingTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    gap: 16px;
  }
}

@include large() {
  .pricingTable {
    display: flex;
    width: 682px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }
}
