.settingsPaymentTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.paymentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.paymentInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.paymentAction {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}
